body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 20px; 
}

.header > ul > li {
    list-style-type: none;
    color: whitesmoke;
    display: inline;
    padding-right: 20px;
     
}
h3, ul {
   margin-top: 8px;
}

.secfirst {
    background-color: #1F2937;
    color: white;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center; 
    gap: 25px;
}

.awe > h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0;
}
.awe > button {
    background-color: #2882F6;
    color: white;
    font-weight: lighter;
    font-size: 20px;
    padding: 4px 15px;
    border-radius: 10px;
    border-color: #2882F6;

}
.awe, .img {
    width: 500px;
    height: 250px;
   /* border: solid 5px yellowgreen; */
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
    color: red;
}

.footer {
    text-align: center;
    background-color: #1F2937;
    color: aliceblue;
}

.seclast {
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seclast {
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.bsec {
    background-color: #3882F6;
    display: flex;
    flex-direction: column;
    height: 100px;

}

.quote {
    background-color: #E5E7EB;
    height: 270px;
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.msec {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.illus {
    width: 50px;
    height: 50px;
    background-color: aqua;
    border: 2px solid blue;
}
.illustreations {
    display: flex;
}